$black: #141414;
$white: #f2f2f2;

$brown: #BB9955;
$brown-dark: #885533;

$grey: grey;
$grey-dark: #303030;

$blue: #9999BB;


$dark-background-color: #87583A;
$semi-dark-background-color: #996342;
$background-color: #B77C57;
$light-background-color: #CEA68D;