body {
    background-color: #141414;
    color: #f2f2f2;
    user-select: none;
}

/* Header */
#header {
    width: 100%;
    height: 50px;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    padding: 5px;

    .title-container {
        display: flex;
        flex-direction: column;

        .title {
            font-size: 25px;
        }
        .version-number {
            font-size: 10px;
        }
    }
    .btn-new-game {
        padding-top: 8px;
    }
}

/* Body */
#body {
    padding: 10px;
}

.tabs {
    display: flex;

    .tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        border: 1px solid grey;
        padding: 15px;
        cursor: pointer;
        user-select: none;

        &.active {
            border-color: white;
        }
    }
}

.tab-body {
    width: 1400px;;
    height: 800px;
    border: 1px solid white;
}
